@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
   Somewhere in Space
</address>

<address>
    <strong>Email:</strong> <a href="mailto:cole@asincole.com">Cole@asincole.com</a><br />
</address>
